.thankyou-container {
  text-align: center;
  padding: 100px 20px;
}

.thankyou-container h1 {
  color: #5b03e4;
  margin-bottom: 10px;
}

.actions {
  margin-top: 30px;
}

.btn-view-orders,
.btn-back-shop {
  padding: 12px 20px;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.btn-view-orders {
  background: #5b03e4;
}

.btn-back-shop {
  background: #ff4081;
}
